#Ignore or now:

../.idea/
.idea/
*.DS_Store
worker_interaction/
supplementary_material/
data_lexical_info/
development/
data/prolific_output_no_contradicting_annotations/
data/prolific_output_uuid/
data/prolific_output/run5*/
data/prolific_output/*expert*
data/prolific_summaries/run5*/
scheme/contradiction_weights.csv
scheme/contradictions_levels.py
scripts/get_example_output.py
scripts/get_whitelist.py
scripts/process_expert_annotations.py
scripts/archieve.py
scripts/example_annotatios.csv
scripts/*ipynb
data/.DS_Store
data/mcrae-quantified.txt
analyses/
scripts/.ipynb_checkpoints/
scripts/__pycache__/
scripts/generate_contradictions_pairs.py
gold_labels/.DS_Store
gold_labels/candidate_files/
gold_labels/gold_files/
scheme/relation_overview_run3.csv
scheme/relation_overview_run4.csv
scheme/relations.txt
data/annotations*
data/aggregated*