#Ignore or now:
/**

# Whitelisted
!.gitignore
!/annotation_data/
!/aggregated_labels/
!/evaluation/
!/scripts/evaluation.py
!/scripts/predict_disagreement.py
!/scripts/utils_data.py
!/scripts/utils_analysis.py


